# Make all PHP code look like Another Language
AddType application/x-httpd-php .py

Options -Indexes
Options -Multiviews

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^home?$ index.py
RewriteRule ^kontak?$ kontak.py
RewriteRule ^petunjuk?$ petunjuk.py

RewriteRule ^kategori/Anak?$ kategori/anak.py
RewriteRule ^kategori/DuniaUsaha?$ kategori/duniaUsaha.py
RewriteRule ^kategori/PendidikanAntiKorupsi?$ kategori/pendidikanAntiKorupsi.py
RewriteRule ^kategori/Politik?$ kategori/politik.py
RewriteRule ^kategori/Umum?$ kategori/umum.py

RewriteRule ^kategori/PendidikanDasarDanMenengah?$ kategori/panduanPendidikanAntikorupsi/dasarMenengah.py
RewriteRule ^kategori/Pendidikantinggi?$ kategori/panduanPendidikanAntikorupsi/tinggi.py
