/* MOBILE */
  @media (max-width: 599px) {
    .d-M{
      visibility: visible !important;
    }
    .d-T{
      visibility: hidden !important;
      width: 0 !important;
      height: 0 !important;
      font-size: 0!important;
      display: none !important;
    }
    .d-D{
      visibility: hidden !important;
      width: 0 !important;
      height: 0 !important;
      font-size: 0!important;
      display: none !important;
    }
    #bukuAntikorupsi,
    .petunjuk p,
    .pdfSearch p {
      font-size: 25px;
    }
    .pdfAnak a,
    .pdfDuniaUsaha a,
    .pdfPanduanPendidikanAntikorupsi a,
    .pdfPolitik a,
    .pdfUmum a {
      font-size: 25px;
    }
    .modal {
      padding: 20px !important;
    }
    #descModal {
      text-align: justify;
      top: 0 !important;
      margin-top: 0 !important;
    }
  }

/* TABLET */
  @media (min-width: 600px) and (max-width: 800px) {
    .d-M{
      visibility: hidden !important;
      width: 0 !important;
      height: 0 !important;
      font-size: 0!important;
      display: none !important;
    }
    .d-T{
      visibility: visible !important;
    }
    .d-D{
      visibility: hidden !important;
      width: 0 !important;
      height: 0 !important;
      font-size: 0!important;
      display: none !important;
    }
    /* TITLE */
    #bukuAntikorupsi,
    .petunjuk p,
    .pdfSearch p {
      font-size: 35px;
    }
    .pdfAnak a,
    .pdfDuniaUsaha a,
    .pdfPanduanPendidikanAntikorupsi a,
    .pdfPolitik a,
    .pdfUmum a {
      font-size: 35px;
    }
  }

/* DESKTOP */
  @media (min-width: 801px){
    .d-M{
      visibility: hidden !important;
      width: 0 !important;
      height: 0 !important;
      font-size: 0!important;
      display: none !important;
    }
    .d-T{
      visibility: hidden !important;
      width: 0 !important;
      height: 0 !important;
      font-size: 0!important;
      display: none !important;
    }
    .d-D{
      visibility: visible !important;
    }
    /* TITLE */
    #bukuAntikorupsi,
    .petunjuk p,
    .pdfSearch p {
      font-size: 40px;
    }
    .pdfAnak a,
    .pdfDuniaUsaha a,
    .pdfPanduanPendidikanAntikorupsi a,
    .pdfPolitik a,
    .pdfUmum a {
      font-size: 40px;
    }
  }

/* GLOBAL WIDTH */
  html,
  body{
    padding: 0;
    margin: 0;
  }
  /* Scroll top button */
  #scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: #F42626;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 100;
  }
  #scroll i {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-11px;
    margin-top:-13px;
    height:0;
    width:0;
    color: white;
    font-size: 25px;
  }
  .scroll:hover {
    transition: 0.2s;
    background-color: #f65e49 !important;
  }

  /* NAVBAR TOGLER */
  .navbar-toggler {
    border: 0 !important;
  }
  .navbar-toggler i {
    font-size: 30px;
  }

  /* HEAD TITLE */
  #bukuAntikorupsi,
  .pdfAnak a,
  .pdfDuniaUsaha a,
  .pdfPanduanPendidikanAntikorupsi a,
  .pdfPolitik a,
  .pdfUmum a,
  .petunjuk p,
  .pdfSearch p {
    text-decoration: none;
    color: #F42626;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
  }

  /* PDF LAYOUT */
  .bookshelf .thumb{
      display: inline-block;
      cursor: pointer;
      margin: 0px 1%;
      box-shadow:0px 1px 3px rgba(0,0,0,.3);
      max-width:180px;
      width: 100%;
  }
  .bookshelf .thumb img{
      width:100%;
      display:block;
      vertical-align:top;
  }
  .bookshelf .shelf-img{
      z-index:0;
      height: auto;
      width: 1050px;
      max-width: 100%;
      vertical-align: top;
      margin-top:-12px;
  }
  .bookshelf .covers{
      width:100%;
      height:auto;
      z-index: 99;
      position: relative;
      text-align:center;
  }
  .bookshelf{
      text-align: center;
      padding:0px;
  }

  /* SEARCHING */
  #search {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
  }

  #search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
  }

  #search input[type="text"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
  }
  #search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -45px;
  }
  #search .close {
    border-radius: 20px;
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #f65e49;
    opacity: 1;
    padding: 3px 10px 10px 10px;
    font-size: 27px;
  }
