/* MOBILE */
  @media (max-width: 599px) {
    .modal {
      padding: 20px !important;
    }
    .d-Modal-m {
      font-size: 
    }
    #descModal {
      text-align: justify;
      top: 0 !important;
      margin-top: 0 !important;
    }
  }

/* TABLET */
  @media (min-width: 600px) and (max-width: 800px) {

  }

/* DESKTOP */
  @media (min-width: 801px){
    .moreInfo {
      max-width:180px;
      width: 100%;
      text-align: center;
      border: 4px solid #f42626;
      padding: 100px 0;
      font-weight: bold;
    }
  }

/* MODAL SETTING */
.info-modal,
.search-info {
  padding: 0 20px 20px 20px;
  height: 400px;
}
.thumb-img,
.pdf-info {
  padding: 30px 30px;
}
.pdf-info,
.search-info {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.modal {
  padding-bottom: 100px;
}
#headModal {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}
.thumb-img {
  background-image: linear-gradient(to bottom left, #a40404, #e50000);
}
.pdf-info {
  background-image: linear-gradient(to bottom left, #d5d5d5, #eeeeee);
}
#read,
#downloadPdf {
  background-color: transparent !important;
  border: 3px solid #c71a00;
  border-radius: 13px;
  padding: 7px 10px 7px 10px;
  color: #c71a00;
  font-weight: bold;
}
#read:hover,
#downloadPdf:hover {
  background-color: #c71a00 !important;
  border: 3px solid #c71a00;
  border-radius: 13px;
  padding: 7px 10px 7px 10px;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
